/*

*/


Header {
  background-color: #B18904;
  color: white;
  font-family: 'Oswald', sans-serif;
  padding: 10px;
}
h1 {
  font-size: 4vw;
}

menu {
  position: absolute;
  width: 7%;
  bottom: 0;
  padding: 5px;
}

body {
  background-color: #F2F5A9;
}

button {
  background-color:#44c767;
  border-radius:14px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  margin-top: 20px;
  padding: 5px 10px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
  background-color:#5cbf2a;
}
.myButton:active {
  position:relative;
  top:1px;
}

}


/*____________________________________- 
Fonts
---------------------------------------*/

link {
  color: #000000;
  text-decoration: none;
}

form {
 /* padding: 50px;*/
}


.cmds {
  right: 0;
  border: 0.2px solid #000000;
  width: 25%;
  background-color: #B18904;
  padding: 5px;
  float: right;
}
label {
  color: white; 
}
#result {
  font-family: 'Patrick Hand', cursive;
  font-size: 2vw;
}
.labl_ {
  font-family: 'Ubuntu Mono', monospace;
}

/*____________________________________
Don panels
-------------------------------------*/


.panelsqr {
  width: 100%;
  height: 100%;
  background-color: #F2F5A9;
 
  padding: 25px;
}

.comps {
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #000000;
}

.displayd {
  top: 50%;
  left: 10%;
  position: absolute;
  padding: 20px;
  margin: 20px;
}

.panel {
  float: left;
  width: 2%;
}

.logostyled {
  width: 5%;
  height: 5%;
}

.logo-banner {
  padding: 20px;
  left: 40%;
  top: 80%;
  margin-top: 10px;
  height: 250px;
  width: 250px;
  position: relative;
  z-index: 2;
}


/*

Grid project

.wrapper {
  grid-template-columns: repeat(5, 100px);
  grid-template-row: repeat(5, 100px);
  
  grid-template-areas: ;
  display: grid;

}

.panel1 {
  grid-area: a;
}

.panel2 {
  grid-area: b;
}

.panel3 {
  grid-area: c;
}

.panel4 {
  grid-area: d;
}

.panel5 {
  grid-area: e;
}

