Header {
  background-color: #B18904;
  color: white;
  font-family: 'Helvetica', bold;
  padding: 10px;
}

link {
  color: #000000;
  text-decoration: none;
}

form {
  padding: 50px;
}

menu {
  position: absolute;
  width: 7%;
  bottom: 0;
  padding: 5px;
}
.cmds {
  float: 0;
  right: 0;
  border: 1px solid #000000;
  width: 25%;
  margin: 20px;
  padding: 5px;
  float: right;
}

body {
  background-color: #F2F5A9;
}

.panelsqr {
  width: 175px;
  height: 175px;
  background-color: #F2F5A9;
  float: right;
}

.comps {
  padding-top: 5px;
  padding-bottom: 5px;
}

.displayd {
  top: 50%;
  left: 10%;
  position: absolute;
  padding: 20px;
}

.panel {
  float: left;
  width: 2%;
}


/*

Grid project

.wrapper {
  grid-template-columns: repeat(5, 100px);
  grid-template-row: repeat(5, 100px);
  
  grid-template-areas: ;
  display: grid;

}

.panel1 {
  grid-area: a;
}

.panel2 {
  grid-area: b;
}

.panel3 {
  grid-area: c;
}

.panel4 {
  grid-area: d;
}

.panel5 {
  grid-area: e;
}

